node_modules
**/node_modules
.git
.github
dist
build
output-*/
*.ova
*.db
*.db-journal
*.db-shm
*.db-wal
.env
stack.env
.agents
.skills
airgapped-deployment/packer_cache
airgapped-deployment/output-gustopos
C:\Users\curtis\AppData\Local\Temp
